name: Release
on:
  workflow_call:
    inputs:
      homebrew:
        description: "Boolean to opt-out of releasing to homebrew."
        default: true
        required: false
        type: boolean
      npm:
        description: "Boolean to opt-out of releasing to npm."
        default: true
        required: false
        type: boolean
      # FIXME until setup-node infers scope from package.json
      # https://github.com/actions/setup-node/pull/129
      npm_scope:
        description: "Name of scope to publish package under."
        default: nodenv
        required: false
        type: string
    secrets:
      NPMJS_TOKEN: { required: true } # required for npm job
      BOT_TOKEN: { required: false } # required for homebrew job

permissions: {}
jobs:
  github:
    permissions: { contents: write }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with: { egress-policy: audit }
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # TODO exit this job differently than success if release already exists
      - name: gh release create
        run: |
          # shellcheck disable=SC2086
          gh release view $tag || \
            gh release create ${tag/*-*/"$tag" --prerelease} --generate-notes
        env:
          GH_TOKEN: ${{ github.token }}
          tag: ${{ github.ref_name }}

  homebrew:
    if: inputs.homebrew && !contains(github.ref, '-') # skip prereleases
    permissions: { contents: read }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with: { egress-policy: audit }
      - uses: mislav/bump-homebrew-formula-action@37c544ffe02cc3f4eb1987db8fa63c96e0b37098 # v3.5
        with:
          homebrew-tap: ${{ contains(fromJSON('["nodenv","node-build"]'),
            github.event.repository.name)
            && 'Homebrew/homebrew-core' || 'nodenv/homebrew-nodenv' }}
        env:
          COMMITTER_TOKEN: ${{ secrets.BOT_TOKEN }}

  npm:
    if: inputs.npm
    permissions: { id-token: write }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with: { egress-policy: audit }
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with: # FIXME https://github.com/actions/setup-node/pull/129
          scope: ${{ inputs.npm_scope }}
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}
