name: Sync Major Version
on:
  workflow_call:

permissions: {}
jobs:
  major-version:
    if: "!contains(github.ref, '-')" # skip prereleases
    permissions: { contents: write }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true # need creds for subsequent git ops

      # FIXME pushes branch instead of tag because github bug:
      # https://github.com/orgs/community/discussions/163366
      - run: git push -f origin "HEAD:refs/heads/${GITHUB_REF_NAME%%.*}"
